# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Logs
logs/*.log

# Flask Sessions
flask_session/*

# Uploaded Files
static/uploads/*

# IDE
.vscode/
.idea/